torch
numpy
dill
tqdm
torchtext
msgpack
xmlschema
orderedattrdict
sortedcontainers
tensorboardX
tensorflow=1.9.0
enum
attrdict
matplotlib>=2.2.2
cached_property
git+https://github.com/szagoruyko/pytorchviz

